In [23]:
import time

In [ ]:
%%timeit
x = [] # 构建一下新的列表
for i in range(10):
    x.append(i * 2)

In [8]:
x

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [9]:
%%timeit 
[i ** 2 for i in range(10)]

228 ns ± 1.35 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [12]:
[(i+1) ** 2 for i in range(10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
dict([(i+1 , i) for i in range(10)])

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 7, 9: 8, 10: 9}

In [19]:
x = []
for i in range(5):
    for j in range(3):
        x.append((i, j))

[(i ,j) for i in range(5) for j in range(3)]

[(0, 0),
 (0, 1),
 (0, 2),
 (1, 0),
 (1, 1),
 (1, 2),
 (2, 0),
 (2, 1),
 (2, 2),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2)]

In [ ]:
x = []
for i in range(7):
        for j in range(20,25):
            if i > 4:
                if j > 23:
                    x.append((i, j))


[(i, j) for i in range(7)  for j in range(20, 25) if i > 4 if j > 23]

In [28]:
%%timeit 
[(i, j) for i in range(7)  for j in range(20, 25) if i > 4 if j > 23]

792 ns ± 2.08 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [27]:
%%timeit 
[(i, j) for i in range(7) if i > 4 for j in range(20, 25) if j > 23]

315 ns ± 3.23 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [26]:
%%timeit 
[(i, j) for i in range(7)  for j in range(20, 25) if i > 4 and j > 23]

800 ns ± 7.52 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [ ]:
x = []
for i in range(7):
    if i > 4:
        for j in range(20,25):
            if j > 23:
                x.append((i, j))
            else:  # 如果在表达式中，使用了带有elif或者else的就不能转换了
                x.append((i+100, j))

[(i, j) for i in range(7) if i > 4 for j in range(20, 25) if j > 23]

[(5, 24), (6, 24)]

In [29]:
{i: i +1 for i in range(5)}

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5}

In [30]:
[i for i in range(5)], list(range(5)), [*range(5)]

([0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4])

In [31]:
[str(i) for i in range(5)], list(map(str, range(5)))

(['0', '1', '2', '3', '4'], ['0', '1', '2', '3', '4'])

In [41]:
{chr(0x41 + i) for i in range(5)}

{'A', 'B', 'C', 'D', 'E'}

In [42]:
chr(0x31), chr(0x554a)

('1', '啊')

In [ ]:
chr(0x61)
ord('1'), ord('啊'),hex(21834), bin(0x554a)

(49, 21834, '0x554a', '0b101010101001010')

In [1]:
{chr(0x41 + i):i for i in range(5)}

{'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4}

In [2]:
{chr(0x41 + i):bytearray(i) for i in range(5)}

{'A': bytearray(b''),
 'B': bytearray(b'\x00'),
 'C': bytearray(b'\x00\x00'),
 'D': bytearray(b'\x00\x00\x00'),
 'E': bytearray(b'\x00\x00\x00\x00')}

In [5]:
Z = {chr(0x41 + i):[] for i in range(5)}
d5 = {}

for i in range(5):
    d5.update({chr(0x41 + i): []})

In [6]:
d5

{'A': [], 'B': [], 'C': [], 'D': [], 'E': []}

In [9]:
{i:j for i in 'abcd' for j in range(3)}

{'a': 2, 'b': 2, 'c': 2, 'd': 2}

In [10]:
{i:j for i in 'abcd' for j in range(3,0, -1)}

{'a': 1, 'b': 1, 'c': 1, 'd': 1}

In [ ]:
{ i % 3 for i in range(3,500)}

#集合会去重，所以不管生成多少次，只保留唯一值。

{0, 1, 2}

In [ ]:
x = (i for i in range(5))
print(x)
print("===================")
print(next(x))
print(next(x))
print('----------------')
for i in x:
    print(i)
print("-------------")
for i in x:
    print(i)
#迭代器只能使用一次，再次迭代时，已经没有值了。
print('~~~~~~~~~~~~~~~~~~~~~~~~~~~')
for i in x:
    print(i)
print('~~~~~~~~~~~~~~~~~~~~~~~~~~~')

<generator object <genexpr> at 0x00000169905DC940>
===================
0
1
----------------
2
3
4
-------------
~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [17]:
next(range(5))

TypeError: 'range' object is not an iterator

In [1]:
%timeit (i for i in range(1000000))

106 ns ± 0.745 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [2]:
%timeit [i for i in range(1000000)]

40.4 ms ± 1.32 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
sorted(可迭代对象，key=func，reverse=True/False)

[1, 2, 3, 4, 5, 6]

In [ ]:
sorted([5,3,6,2,1,4])

In [5]:
sorted((6-i for i in range(5)))

[2, 3, 4, 5, 6]

In [9]:
l1 = []
a = 5
b = 10
c = 1


# 判断大小，升序输出
if a > b:
    a, b = b, a
if a > c:
    a, c = c, a
if b > c:
    b, c = c, b
    
print(a, b, c)

1 5 10

In [11]:
lst = [1, 4, 9, 16, 2, 5, 10, 15]
new_lst = [lst[i] + lst[i+1] for i in range(len(lst)-1)]
new_lst

[5, 13, 25, 18, 7, 15, 25]

In [12]:
import random
import string

product_ids = []
for i in range(1,101):
    new_prat = f'{i:06d}'
    char_part = ''.join(random.choices(string.ascii_lowercase, k=10))
    product_id = f"{new_prat}.{char_part}"
    product_ids.append(product_id)

for pid in product_ids[:10]:
    print(pid)

000001.orjqgzjqdt
000002.ztckquicmy
000003.qvbjqimrhw
000004.lkttcylpcz
000005.uzhysygsqi
000006.ppnlrjijxr
000007.jfsceoxxjt
000008.avbrxifsal
000009.xofdyinmgj
000010.zsetparstx

In [ ]:
def add(x,y):  # add标识符，函数名，指向一个函数对象
    result = x + y
    return result

In [ ]:
add(3,5) # 函数标识符后面加（），就是调用、执行called，调用时

8

In [ ]:
print(callable(add))  # 用于判断一个对象是否是可调用的

True

In [4]:
add

In [7]:
def add(x, y):
    print(x, y)
    print('-' * 10)
    return x + y

In [ ]:
add(3, 5), add(5,3), add(x=2, y=4), add(y=10, x=1),
add(x=[4], y=(5,))

add(y=5, 4) # 错误传参

3 5
----------
5 3
----------
2 4
----------
1 10
----------
[4] (5,)
----------

TypeError: can only concatenate list (not "tuple") to list

In [1]:
def add(x, y=10):
    return x + y

In [3]:
add(x=4,3)

SyntaxError: positional argument follows keyword argument (3074230575.py, line 1)

In [12]:
def  login(host='localhost', port=3306,username='root',password='root'):
    print('mysql://{0}:{1}@{2}:{3}'.format(username, password, host, port))

In [13]:
login()

mysql://root:root@localhost:3306

In [7]:
login('192.168.10.1','3333','admin')

mysql://192.168.10.1:3333@admin:root

In [ ]:
def add(*nums):
    print(type(nums), nums)
    s = 0
    for i in nums:
        s += i
    return s

In [4]:
add(range(5))

<class 'tuple'> (range(0, 5),)

TypeError: unsupported operand type(s) for +=: 'int' and 'range'

In [2]:
add(1,2,3)

<class 'tuple'> (1, 2, 3)

6

In [1]:
def add(**kwargs):
    print(type(kwargs), kwargs)
    for k, v in kwargs.items():
        print(k, v)

In [2]:
add(x=1)

<class 'dict'> {'x': 1}
x 1

In [3]:
def foo(*args, x,y):
    print(args, x, y)

In [5]:
foo(1, 2, 3 ,x=4, y=5),foo(1,2,x=3,y=4)

(1, 2, 3) 4 5
(1, 2) 3 4

(None, None)

In [10]:
def  foo(x, *args, y):
    print(x, args, y)

In [14]:
foo(1, 2, 3, y=3), foo(1, y=2)

foo(1,2,3, x=4,y=5)

1 (2, 3) 3
1 () 2

TypeError: foo() got multiple values for argument 'x'

In [ ]:
sorted(iterable, /, *, key=None, reverse=Fasle)

In [15]:
def fn(a, b, /, x, y, z=3, *args, m=4, n, **kwargs):
    print(a, b)
    print(x, y, z)
    print(m, n)
    print(args)
    print(kwargs)
    print('-' * 30)

In [22]:
fn(1,2, 3, 4,n=5)

1 2
3 4 3
4 5
()
{}
------------------------------

In [ ]:
def config(host, usernaem='jaer', password='root', port=3306, **options):
    connstr = f'mysql://{usernaem}:{password}@{host}:{port}'
    print(connstr)

# 定义函数是，把重要的参数列在外面，最常改变的参数尽量往前放

In [24]:
config('192.168.1.1')

mysql://jaer:root@192.168.1.1:3306

In [29]:
def config(host, usernaem='jaer', password='root', *, port=3306, **options):
    db = options.pop('db', 'test')
    connstr = f'mysql://{usernaem}:{password}@{host}:{port}/{db}'
    print(connstr)

In [30]:
config('192.168.1.1', 'root','root', port=3307)

mysql://root:root@192.168.1.1:3307/test

In [31]:
def add(*nums):
    result = 0
    for i in nums:
        result += i
    return result

In [ ]:
add(range(5)) # error

In [33]:
add(0, 1,2,3,4), add(*range(5))

(10, 10)

In [34]:
def add(x, y):
    return x + y

In [38]:

add(*{'a':1, 'b':2}.values())

3

In [39]:
def showvalues():
    return 1, 3, 5
showvalues()

(1, 3, 5)

In [40]:
x, y, z = showvalues()

In [41]:
x

1

In [42]:
y

3

In [ ]:
z

5

:

In [2]:
def foo():
    x = 10

print(x)

NameError: name 'x' is not defined

In [4]:
# 局部变量
def fn1():
    x = 1 # 局部作用域，x为局部变量，使用范围在fn1内
    
def fn2():
    print(x) # x能打印吗？可见吗？为什么？
    
# print(x) # x能打印吗？可见吗？为什么？

In [5]:
fn1()

NameError: name 'x' is not defined

In [12]:
def outer():
    o = 65
    def inner():
        o = 97
        print('in inner', o, chr(o))
    inner()
    print('in outer', o, chr(o) )

In [13]:
outer()

in inner 97 a
in outer 65 A

In [14]:
x = 5
def foo():
    print(x)

foo()

5

In [21]:
x = 5
def foo():
    # y = x +1
    x += 1
    print(x)

foo()

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [36]:
# x = 5
def foo():
    global x # 全局变量
    x += 1
    print(x)
foo()

20

In [ ]:
def counter():
    c = [0]
    def inc():
        c[0] += 1 # 报错吗？ 为什么 # line 4
        return c[0]
    return inc

foo = counter() # line 8
print(foo(), foo()) # line 9
c = 100
print(foo()) # line 11

1 2
3

: